localhost {
    root * /srv/frontend
    tls /etc/caddy/ssl/localhost.crt /etc/caddy/ssl/localhost.key
    file_server
}

api.localhost {
    handle /status {
        respond "Tamo activo papi"
    }
}

db.localhost {
    tls /etc/caddy/mTLS/Server/server.crt /etc/caddy/mTLS/Server/server.key {
        client_auth {
            mode require_and_verify
            trusted_ca_cert_file  /etc/caddy/mTLS/Client/client.crt
        }
    }

    reverse_proxy localhost:8081
}