localhost {
    root * /srv/frontend
    tls /etc/caddy/SSL/Server/server.crt /etc/caddy/SSL/Server/server.key
    file_server

    log {
        output stdout
    }

    handle /api/* {
        reverse_proxy http://backend:9000
    }

    handle /status {
        respond "Caddy ta activo papi"
    }
}

db.localhost {
    tls /etc/caddy/SSL/Server/server.crt /etc/caddy/SSL/Server/server.key {
        client_auth {
            mode require_and_verify
            trusted_ca_cert_file  /etc/caddy/SSL/Client/client.crt
        }
    }

    reverse_proxy http://adminer:8080
}
